*{
	margin:0;
	padding: 0;
}
body {
	font-family: "Roboto Slab", serif;
    }

nav{
	height: 90px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.log {
	height: 2.8%;
	position: relative;
	padding-left: 7%;
}

.logo{
	width: 125px;
	height: 130px;
}

.menunav{}
.menunav ul li{
	display: inline-block;
	float: left;
	line-height: 50px;
	position: relative;
	padding: 0 20px;
	top: 10px;
}

.menunav ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-size: 18px;
	display: block;
}
.mtext{}
.mtext:hover{
	color: #cccac8;
	text-decoration: underline;
}
.head{
	background-color: #004D8f;
	height: 90px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Playfair Display", serif;
	color:white;
	margin-top: 3%;
	margin-bottom: 2%;

}
.explanation{
	width: 90%;

}
.explanation h2{
	padding-left: 27%;
}
.explanation p{
	padding-left: 27%;
}


.sideimg{
	border: 1px solid #f3f3f3;
	float: left;
	width: 30%;
}

.b-img{
height: 40%;
width: 100%;
object-fit: cover;
}

.infotxt{
	padding-left: 5%; 
}

.txt{
	padding-top: 17%;
	text-align: center;
}
.container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }


    .box {
        width: 150px;
        padding: 10px;
        margin: 10px;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .box img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .box h3 {
        margin: 0;
        font-size: 16px;
    }

    .box p {
        margin: 5px 0;
        font-size: 14px;
        color: #666;
    }
.head2{
	background-color: #004D8f;
	height: 90px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Playfair Display", serif;
	color:white;
	margin-top: 3%;
	margin-bottom: 2%;	
}
.fb-page{
	display: flex;
	justify-content: center;
	align-items: center;
}
.community p{
	padding-left: 7%;
	padding-right: 7%;
	padding-top: 1%;
}
.foot{
	width: 100%;
	background-color: #004D8f;
	height: 28%;
	color: white;
	font-size: 15px;

}