*{
	margin:0;
	padding: 0;
}

nav{
	height: 90px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.log {
	height: 2.8%;
	position: relative;
	padding-left: 7%;
}

.logo{
	width: 125px;
	height: 130px;
}

.menunav{}
.menunav ul li{
	display: inline-block;
	float: left;
	line-height: 50px;
	position: relative;
	padding: 0 20px;
	top: 10px;
}

.menunav ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-size: 18px;
	display: block;
}

.mtext{}
.mtext:hover{
	color: #cccac8;
	text-decoration: underline;
}

body {
	font-family: "Roboto Slab", serif;
    }
.head{
	background-color: #004D8f;
	height: 90px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Playfair Display", serif;
	color:white;
	
}
.cont-padd{
	padding-top: 2%;
	padding-bottom: 2%;
}
    
    .container {
        max-width: 500px;
        margin: 0 auto;
        border: 2px solid #ccc;
        padding: 20px;
        border-radius: 5px;

    }
.container h2{
	display: flex;
	justify-content: center;
	align-items: center;
	
}

    .form-group {
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .form-group label {
        width: 100px;
        font-weight: bold;

    }

    .form-group input[type="text"],
    .form-group input[type="email"],
    .form-group input[type="tel"],
    .form-group textarea {
        width: calc(100% - 100px);
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .form-group textarea {
        height: 100px;
    }
    .but-pad{
    	display: flex;
	justify-content: center;
	align-items: center;

    }
    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        
    }


    button:hover {
        background-color: #45a049;
    }

	.foot{
		padding-left: 5%; 
		width: 100%;
		background-color: #004D8f;
		height: 26%;
		color: white;
		font-size: 15px;
	
	}