*{
	margin:0;
	padding: 0;
}

nav{
	height: 90px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.log {
	height: 2.8%;
	position: relative;
	padding-left: 7%;
}

.logo{
	width: 125px;
	height: 130px;
}

.menunav{}
.menunav ul li{
	display: inline-block;
	float: left;
	line-height: 50px;
	position: relative;
	padding: 0 20px;
	top: 10px;
}

.menunav ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	font-size: 18px;
	display: block;
}

.mtext{}
.mtext:hover{
	color: #cccac8;
	text-decoration: underline;
}

.head{
	background-color: #004D8f;
	height: 90px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
font-family: "Playfair Display", serif;
color: white;
}

.servinfo{
	padding-left: 5%;
}
.boxes{

	width:100%;
	display: flex;
flex-wrap: wrap;

}
.boxes img{
	width: 100%;
	padding-bottom: 20px;
}


.tpadd{
	padding-left: 10%;
	padding-right: 2%; 
	float: left;
}
.personal{
	border: 1px solid #f3f3f3;
	background-color: #efefef;
	float: left;
	width: 450px;

}

.Commercial{
	border: 1px solid #f3f3f3;
	background-color: #efefef;
	width: 450px;
}

.bpadd{
	padding-top: 20px; 
padding-left: 10%;	

}
.logistics{
	border: 1px solid #f3f3f3;
	background-color: #efefef;
	width: 450px;

}

.consulting{
	margin-left: 6%;
	border: 1px solid #f3f3f3;
	background-color: #efefef;
	width: 450px;
	height: 97%;

	}
.bxhd{
	text-indent: 5px;
	font-family: "Roboto Slab", serif;
}

.bxtxt{
	font-size: 15px;
	text-indent: 10px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: "Playfair Display", serif;
}	

.grid-container {
        display: grid;
        grid-template-columns: repeat(3, 20%);
        grid-template-rows: repeat(2, auto);
        gap:70px;
        justify-content: center;
        align-items: center;
    }

    .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 1px solid #ccc;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px; 
        border-radius: 34px;
	background: #e0e0e0;
box-shadow:  16px 16px 12px #9d9d9d,
             -16px -16px 12px #ffffff;
    }

    .grid-item h3 {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    .grid-item p {
        margin-bottom: 5px;
    }

    .grid-container a{

    }
    .icon {
        font-size: 24px;
    }
	
.txt{
	    padding: 0 10px;
    overflow: hidden;
}


.foot{
	width: 100%;
	background-color: #004D8f;
	height: 28%;
	color: white;
	font-size: 15px;
}